html {
    scroll-behavior: smooth;
   }
  
body {
    background: #334155; /* Make it white if you need */
    color: white;
    display: flex;
    font-family: sans-serif; 
    margin:0;
    animation: fadeInAnimation ease 3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
  }

a {
  text-decoration: none;
  color: white
}

#index {
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
      }
}

#title {
  text-align: center;
}

#header {
  margin-top: 100px;
  margin-bottom: 270px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 100px;
  color: #dce9e6;
}

#subheader {
  text-align: center;
  font-size: 40px;
  margin-bottom: 13px;
}

#titlep {
  text-align: center;
}

.column{
  flex-direction: column;
}
/**************** BUTTONS**********************/
.button {
  background-color:#dce9e6;
  font-weight: bold;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  border-radius: 30px;
  margin: 10px;
  padding: 10px 25px;
  text-align: center;
  color: #0f172a;
}

.gameBtn {
  font-size: 20px;
}
/**********************************************/
/*************************** MODALS ***********************/
.modal {
  /* max-width: 800px;
  max-height: 500px; */
  animation: fadeInAnimation ease .3s;
  animation-iteration-count: 1  ;
  animation-fill-mode: forwards;
}

.modal::backdrop {
  background-color: #334155;
  opacity: 60%;
}

.modal-container{
  display: flex;
  overflow: auto;
}

.box {
  height: 150px;
  width: 150px;
  border: solid 1px black;
}

.content{
  margin:10px;
  border: solid 1px black;
  transition: transform 0.2s ease-in-out;
}
.content:hover {
  transform: scale(1.05);
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
}
/**************************/

#down {
  margin-top: 100%;
  padding-bottom: 25%;
  } 

#canvas-container {
  overflow: auto;
}